.flip-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
}


/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 95vw;
    height: 95vw;
    max-width: 500px;
    max-height: 500px;

    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box-inner img{
    width: 100%;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .soon{
    background-image: url(../img/coming-soon-g0e7306d2b_640.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  .flip-box-front h2{
    position: absolute;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.461);
    color:#fff;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgb(5, 36, 67);
    color: white;
    transform: rotateY(180deg);
  }
  .flip-box-back h2{
    background-color: rgba(0, 0, 0, 0.607);
    color:#fff;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

  }
  .grid span{
    background-color: rgba(7, 6, 6, 0.669);
     padding: 10px;
     
    }

    .gallery-item{
        height: 30vh;
        position: relative;
        
    }
    .gallery-item a{
       background-color: rgba(14, 14, 14, 0.647);
       position: absolute;
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .gallery-item a:hover{
        scale:2;
        transition: all 2s;
    }
    .gallery-item.flappy{
        background-image: url(../img/flappyBird.png);
        background-size: contain;
        background-position: center center;
        
    }
    .gallery-item.minesweeper{
        background-image: url(../img/minesweeper.jpg);
        background-size: contain;
        background-position: center center;

    }

    .slick-arrow{
        display: none !important;
    }

.slick-dots {
    bottom: 15px;
   
}

.slick-container{
  margin-top: 30px;
}



    @media screen and (min-width:768px) {
        .flip-container{
            flex-direction: row;
            flex-wrap: wrap;
        }
        .flip-box {
            width: 45vw;
            height: 45vw;
        }
    }
    @media screen and (min-width:1200px) {
        
        .flip-box {
            width: 30vw;
            height: 30vw;
        }
    }